html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.car-card-link,
.car-card-link:visited {
    color: #212529 !important;
    text-decoration: none !important;
}

    .car-card-link .card-title,
    .car-card-link .card-text {
        color: #212529 !important;
    }

    .car-card-link:hover .card-title,
    .car-card-link:hover .card-text {
        color: #1a73e8 !important; /* np. Google blue, lub zmieñ na swój odcieñ */
    }
